<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>
<body>

<div class="container-fluid m-0 p-0">
    <div class="d-flex justify-content-between align-items-center mb-4  bg-primary">
        <h1 class="text-light m-2" >Gerenciamento de Tarefas</h1>
        <div>
            <a href="/usuarios/novo" class="btn btn-primary">Cadastro de Usuários</a>
            <a href="/tarefas/nova" class="btn btn-primary">Cadastro de Tarefas</a>
            <a href="/tarefas/gerenciar" class="btn btn-primary">Gerenciar Tarefas</a>
        </div>
    </div>
    
   </div>
 
 <div class="container w-25">
    <h2 class="text-primary shadow p-1 text-center"> Cadastrar - Usuário</h2>
		<form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post" class="shadow p-3 mb-3 bg-white rounded">
		    <!-- Campo oculto para o ID -->
    		<input type="hidden" th:field="*{id}" />
    		
		  <div class="form-group">
		    <label for="nome">Nome: </label>
		    <input type="text" class="form-control" id="nome" laceholder="Seu nome" th:field="*{nome}" placeholder="Seu nome" required>
		    <div th:if="${#fields.hasErrors('nome')}" class="text-danger">
                <small th:errors="*{nome}"></small>
            </div>	
		  </div>
		  <div class="form-group">
		    <label for="email">E-mail:</label>
		    <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="E-mail" required >
			    <div th:if="${emailErro}" class="text-danger">
			        <small th:text="${emailErro}"></small>
			    </div>
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Enviar</button>
		</form>
    </div>
</body>
</html>
