<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar">
        <ul style="background-color: #007bff; padding: 10px; list-style: none; display: flex; justify-content: flex-end;">
            <li><a href="/usuario/cadastro" style="color: white; margin-right: 20px;">Cadastro de Usuários</a></li>
            <li><a href="/tarefa/cadastro" style="color: white; margin-right: 20px;">Cadastro de Tarefas</a></li>
            <li><a href="/tarefa/gerenciar" style="color: white;">Gerenciar Tarefas</a></li>
        </ul>
    </nav>
</body>
</html>
